.register-button-style{
    opacity: 0.8;
    background-color: #ffffff;
    width: 100%;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(199, 199, 199, 0.25) 0px 5px 15px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}