.delete-button-style{
    opacity: 0.8;
    width: 100%;
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(194, 94, 94, 0.319)0px 5px 15px;
    border: 2px solid #d26060;
    border-radius: 10px;
}
