
$primary: #333333 !default;
$secondary: #FFFFFF !default;

$theme-colors: (

        "primary":          $primary,
        "secondary":        $secondary,
);

//reset inputs
input:focus, select:focus, select, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
   
}

@import "~bootstrap/scss/bootstrap";